/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(180deg, #045bb4, #0a7dd9);
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

/* TOP BUTTONS */
.top-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 25px 0;
}

.top-buttons button {
  background: white;
  color: #0a0a0a;
  padding: 12px 22px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.top-buttons button:hover {
  transform: scale(1.05);
}

/* MAIN SECTION */
.main-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: 20px;
}

.text-side h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  line-height: 54px;
}

.text-side p {
  margin: 20px 0;
  font-size: 20px;
  text-align: left;
}

.cta-btn {
  background: #ff6c42;
  border: none;
  padding: 15px 30px;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}

.cta-btn:hover {
  background: #ff4b1d;
  transform: scale(1.05);
}

/* PHONE SIDE */
.phone-img {
  width: 220px;
  filter: brightness(0) invert(1);
}

/* ICON ROW */
.icon-row {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 80px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-circle {
  width: 70px;
  height: 70px;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* FOOTER */
.footer-logo {
  margin-top: 60px;
  font-size: 40px;
  font-weight: bold;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .main-section {
    flex-direction: column;
    text-align: center;
  }
  
  .text-side h1,
  .text-side p {
    text-align: center;
  }
}
